<div class="forgotPasswordCard">
  <div class="newPasswordContainer">
    <form class="containerNewPassword" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-form-field hintLabel="Should be at least 8 characters long">
        <mat-label><mat-icon>lock</mat-icon> Enter new password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          type="password"
          ngModel
          name="password"
          required
          minlength="8"
          #pwInput="ngModel"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint align="end">{{ pwInput.value?.length }}/8</mat-hint>
        <mat-error>Should be at least 8 characters long</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label><mat-icon>lock</mat-icon> Re-Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          type="password"
          ngModel
          name="rePassword"
          required
          minlength="8"
          #pwInput="ngModel"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error>Passwords should match</mat-error>
      </mat-form-field>
      <p class="error" *ngIf="error">{{ error }}</p>

      <button
        *ngIf="!loginButton"
        class="signUpBtn"
        type="submit"
        mat-raised-button
        color="accent"
        [disabled]="f.invalid"
        (click)="(onSubmit)"
      >
        Change Password
      </button>
      <button
        *ngIf="loginButton"
        class="signUpBtn"
        mat-raised-button
        color="accent"
        (click)="goLogin()"
      >
        Go to login
      </button>
      <app-spinner *ngIf="isLoading"></app-spinner>
    </form>
  </div>
</div>
